
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCostLabel" data-translate="trucksApp.cost.home.createOrEditLabel">Create or edit a Cost</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" data-translate="trucksApp.cost.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="vm.cost.location"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trucksApp.cost.time" for="field_time">Time</label>
                <div class="input-group">
                    <input id="field_time" type="text" class="form-control" name="time" datetime-picker="{{dateformat}}" ng-model="vm.cost.time" is-open="vm.datePickerOpenStatus.time"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('time')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trucksApp.cost.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="vm.cost.amount"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trucksApp.cost.type" for="field_type">Type</label>
            <select class="form-control" id="field_type" name="truck" ng-model="vm.cost.type" >
                <option value="Paliwo">Paliwo</option>
                <option value="Dniówka">Dniówka</option>
                <option value="Parking">Parking</option>
                <option value="Nocleg">Nocleg</option>
                <option value="Opłata drogowa">Opłata drogowa</option>
                <option value="Inne">Inne</option>
            </select>

        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trucksApp.cost.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.cost.description"
                    />
        </div>

        <div class="form-group">
            <label data-translate="trucksApp.cost.truck" for="field_truck">Truck</label>
            <select class="form-control" id="field_truck" name="truck" ng-model="vm.cost.truck" ng-options="truck as truck.driver for truck in vm.trucks track by truck.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
